
html{
  font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'SimSun', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
}
body{
  min-width: 1200px;
  margin: 0;
  background: #f0f3f3;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 100;
  color: #242a30;
}
.el-pagination{
  padding: 0;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}